# Ignore steamcmd directory, except the installer
SteamCMD/*
!SteamCMD/install.sh

# Ignore directories named "server" as they
# are used for storing the game server binaries
*/server/**

# Ignore all log files
*.log
*/logs/*

*.swp

.env
