[submodule "JustCause2Multiplayer/configs/scripts/AdvancedBuyMenu"]
	path = JustCause2Multiplayer/configs/scripts/AdvancedBuyMenu
	url = https://github.com/Jasonmrc/AdvancedBuyMenu.git
	branch = master
[submodule "JustCause2Multiplayer/configs/scripts/boost_lite"]
	path = JustCause2Multiplayer/configs/scripts/boost_lite
	url = https://github.com/jc2mp/boost_lite.git
	branch = master
