# Ignore steamcmd directory, except the downloader
SteamCMD/*
!SteamCMD/linux
SteamCMD/linux/*
!SteamCMD/linux/download.sh
!SteamCMD/windows
SteamCMD/windows/*
!SteamCMD/windows/download.bat

# Ignore directories named "server" as they
# are used for storing the game server binaries
**/server/**
