server/*
server/tf/*
server/tf/cfg/*

# Whitelist cfg directory
!server/tf2
!server/tf2/cfg

# Whitelist custom config files
!server/tf2/cfg/mapcycle-zph.txt
!server/tf2/cfg/motd-zph.txt
!server/tf2/cfg/server-zph.cfg
