server/*
server/tf/*
server/tf/cfg/*

# Whitelist cfg directory
!server/tf
!server/tf/cfg

# Whitelist custom config files
!server/tf/cfg/mapcycle-zph.txt
!server/tf/cfg/motd-zph.txt
!server/tf/cfg/server-zph.cfg
