server/*
server/garrysmod/*
server/garrysmod/cfg/*
server/garrysmod/lua/*
server/garrysmod/lua/autorun/*
server/garrysmod/lua/autorun/server/*
server/garrysmod/data/*
server/garrysmod/data/tauntpack_loader/*


# Whitelist directories
!server/garrysmod
!server/garrysmod/cfg
!server/garrysmod/lua
!server/garrysmod/lua/autorun
!server/garrysmod/lua/autorun/server
!server/garrysmod/data
!server/garrysmod/data/tauntpack_loader

# Whitelist custom config files
!server/garrysmod/cfg/maplist-zph.txt
!server/garrysmod/cfg/server-zph.cfg
!server/garrysmod/lua/autorun/server/force_client_workshop_downloads.lua
!server/garrysmod/data/tauntpack_loader/workshop_resources.txt



