server/*
server/csgo/*
server/csgo/cfg/*

# Whitelist cfg directory
!server/csgo
!server/csgo/cfg

# Whitelist custom config files
!server/csgo/cfg/mapcycle-zph.txt
!server/csgo/cfg/motd-zph.txt
!server/csgo/cfg/server-zph.cfg
